@media screen and (max-width: 1200px) {
    #desk-nav {
        display: none;
    }

    #burger-nav {
        display: flex;
    }

    #profile, .section-container {
        display: block;
    }

    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 12%;
    }
    .profile-pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 1rem;
    }

    .about-pic {
        height: 275px;
        width: 275px;
        margin: 0 auto 2rem;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .title2 {
        margin-bottom: 2rem;
    }

    .section__pic-container {
        width: auto;
        height: 313px;
        justify-content: center;
    }

    .about-text {
        margin-bottom: 3rem;
        text-align: justify;
    }
}
